@font-face {
font-family: 'pf_dindisplay_pro_lightRg';
src: url('./fonts/pfdindisplaypro-light-webfont.eot');
src: url('./fonts/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'), 
url('./fonts/pfdindisplaypro-light-webfont.woff') format('woff'), 
url('./fonts/pfdindisplaypro-light-webfont.ttf') format('truetype');
font-weight: normal;font-style: normal;}
@font-face {
font-family: 'pf_dindisplay_proregular';
src: url('./fonts/pfdindisplaypro-reg-webfont.eot');
src: url('./fonts/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'), 
url('./fonts/pfdindisplaypro-reg-webfont.woff') format('woff'), 
url('./fonts/pfdindisplaypro-reg-webfont.ttf') format('truetype');
font-weight: normal;font-style: normal;}


html {overflow: -moz-scrollbars-vertical;margin: 0;padding: 0;}
body {color: #000000;font-family: Arial, Helvetica, sans-serif;margin: 0px;padding: 0px;}
body, td, th, input, textarea, select, a {font-size: 12px;}
h1, .welcome {font: normal 24px "pf_dindisplay_pro_lightRg", "Trebuchet MS", Tahoma, Helvetica, sans-serif;color: #8169A8;margin-top: 0px;margin-bottom: 16px;}
h2 {color: #000000;font-size: 16px;margin-top: 0px;margin-bottom: 5px;}
p {margin-top: 0px;margin-bottom: 20px;}
a, a:visited, a b {color: #8169A8;text-decoration: underline;cursor: pointer;}
a:hover {text-decoration: none;}
a img {border: none;outline:none;}
a img,:link img,:visited img,:hover img,:active img {border:none; outline:none;}
form {padding: 0;margin: 0;display: inline;}
input[type='text'], input[type='password'], textarea {background: #F8F8F8;border: 1px solid #CCCCCC;padding: 4px;margin-left: 0px;margin-right: 0px;}
select {background: #F8F8F8;border: 1px solid #CCCCCC;padding: 4px;}
label {cursor: pointer;}

.float-right  {float:right;overflow:hidden}
.float-left  {float:left;overflow:hidden}
/* layout */ 
.wrapper-center {width:980px;margin:0 auto;text-align: left;/* position: relative; */}

#container {}
#container-center {width: 980px;margin:0px auto 0px auto;padding-top:0px;text-align: left;}
#column-left {float: left;width: 235px;}
#column-right {float: right;width: 235px;}
#content {min-height: 100px;margin-bottom: 25px;}
#column-left + #column-right + #content, #column-left + #content {margin-left: 249px;}
#column-right + #content {margin-right: 249px;}
/* header */

#top-links{position: relative;z-index:9998;height:26px;color: #232323;border-top:2px #A391BF solid;}

#header {height: 80px;position: relative;z-index: 9997;}
#header .wrapper-center {margin:0px auto 0px auto;height:80px}

#links {float:right;font-size: 12px;}
#links a {float: left;display: block;color: #777;text-decoration: none;font-size: 12px;padding:5px 10px;}
#links a:hover {color:#232323;}

#language { padding:5px 10px;color:#777;float:left; position:relative ; padding-bottom:32px;cursor:pointer;text-decoration:none; font-size: 12px;}
#language img { cursor: pointer; margin-right:3px; }
#language .spis{z-index:9999;position:relative;border-top:3px #000 solid;float:left;display:none;padding:7px 10px;margin:0 0 0 0;background:#ffffff;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;-webkit-box-shadow: 0px 0px 4px #999;-moz-box-shadow: 0px 0px 4px #999;box-shadow: 0px 0px 4px #999;}
#language .spis:before {content: "";border-width:4px;border-style:solid;border-color:transparent;border-bottom:3px #000 solid;position:absolute;top:-10px;left:10px;width:0px;height:0px}
#language:hover .spis  { display:block;z-index:999999999999;position:absolute; top:26px; left:0px;}
#language ul{margin:0;padding:0}
#language ul li{display:block;width:110px;float:left}
#language ul li a, #language ul li a:hover{margin:3px 0 ;border-bottom:0;color:#232323;border:none;padding:0;}
#language ul li a:hover{padding-left:4px;}

#currency { padding:5px 10px;color:#777;float:left;display:block; padding-bottom:32px; cursor:pointer;  text-decoration:none; font-size: 12px;position:relative;}
#currency .spis {border-top:3px #000 solid;float:left;display:none;padding:7px 10px;margin:0 0 0 0;background:#ffffff;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;-webkit-box-shadow: 0px 0px 4px #999;-moz-box-shadow: 0px 0px 4px #999;box-shadow: 0px 0px 4px #999;}
#currency .spis:before {content: "";border-width:4px;border-style:solid;border-color:transparent;border-bottom:3px #000 solid;position:absolute;top:-10px;left:10px;width:0px;height:0px}
#currency:hover .spis {display:block;position:absolute; top:26px; left:0px;}
#currency ul {margin:0;padding:0;}
#currency ul li {display:block;width:90px;float:left }
#currency ul li a, #currency ul li a:hover{border:none;padding:0;color:#232323;text-decoration:none;border-bottom:0; margin:3px 0 ;}
#currency ul li a:hover{border:none;padding:0;padding-left:4px}
#currency ul li a b, #currency ul li a b:hover{text-decoration:none;border-bottom:0;color:#888; }

#welcome { float:right;z-index:999999;text-align:right;color:#fff;height:22px;padding:4px 15px 0 20px;margin-left:7px;background-image:url(../image/welcomeGrad.png);background-repeat:repeat-x;background-position:left bottom;-webkit-border-radius:0 0 4px 20px;-moz-border-radius:0 0 4px 20px;-khtml-border-radius:0 0 4px 20px;border-radius:0 0 4px 20px;position:relative ;behavior: url('catalog/view/javascript/PIE.htc');}
#welcome span.rz {float: left;margin: 3px 9px;width:1px;height:9px;border-left:1px dotted #fff}
#welcome>a{color: #eee;text-decoration: none;float: left;font-size: 12px;text-shadow: 1px 1px 0px rgba(0,0,0,0.3);}
#welcome>a:hover {border-bottom:none;color: #fff;}
#welcome span.txt {float: left;margin-right:5px}

#header #logo {position: absolute;top:-12px;left: 40px;}

#header #cart {position: absolute;top:0px;left:780px;z-index: 99999;width: 200px;height:70px;padding:5px 0}
#header #cart .heading a#urlCart {text-decoration: none;color:#8169A8;font:normal 20px 'pf_dindisplay_pro_lightRg', Helvetica, "Arial Narrow";display:block}
#header #cart .heading a#cart-total {font-size:13px;display:block;color:#232323;text-decoration:none;width: 197px;padding-left:3px}
#header #cart .heading a#cart-total span{display:block;margin-top:4px;clear:both}
#header #cart .heading a#cart-total i{float: left;font-size:13px;font-style:normal;display:block;color:#232323;text-decoration:none;}
#header #cart .heading a#cart-total b{float: right;font-size:13px;display:block;color:#232323;text-decoration:none;}
#header #cart .heading .headRazd {font-style:italic;font-size:15px;color:#232323;line-height:30px}
#header #cart .content {-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;border-top:3px #000 solid;z-index:99999;color:#232323;clear: both;display: none;position: absolute;top: 80px;right:-3px;padding:7px;min-height: 50px;width:370px;background:#ffffff;box-shadow: 0px 2px 8px rgba(0,0,0,0.5)}
#header #cart .content:before {content: "";border-width:6px;border-style:solid;border-color:transparent;border-bottom:5px #000 solid;position:absolute;top:-14px;right:30px;width:0px;height:0px}
#header #cart.active .heading {}
#header #cart.active .content {display: block;}

.mini-cart-info table {border-collapse: collapse;width: 100%;margin-bottom: 5px;}
.mini-cart-info td {color: #232323;vertical-align: top;padding: 5px 5px;}
.mini-cart-info tr:hover {background: #EEEEEE;}
.mini-cart-info .image {width: 1px;}
.mini-cart-info .image img {border: 1px solid #EEEEEE;text-align: left;}
.mini-cart-info .name small {color: #232323 !important;}
.mini-cart-info .name a{color: #8169A8;}
.mini-cart-info .quantity {text-align: right;}
.mini-cart-info td.total {text-align: right;}
.mini-cart-info .remove {text-align: right;}
.mini-cart-info .remove img {cursor: pointer;}
.mini-cart-total {text-align: right;}
.mini-cart-total table {border-collapse: collapse;display: inline-block;margin-bottom: 5px;}
.mini-cart-total td {color: #232323;padding: 4px;}
#header #cart .checkout {text-align: right;clear: both;}
#header #cart .empty {padding-top: 15px;text-align: center;}

#header #contactPhone {position: absolute;top:10px;left:520px;width:220px;height:70px;}
#header #contactPhone .heading #icoPhone {position:absolute;top:0px;left:-100px;background: url('../image/icoPhone.png') no-repeat;width:94px;height:60px}
#header #contactPhone .heading .contactPhone {color:#232323;font:normal 22px "pf_dindisplay_proregular", "Trebuchet MS", Helvetica, "Arial Narrow";display:block;}
#header #contactPhone .heading .contactPhone .contactPhoneCode{color:#232323;font-size:16px}

#header #contactPhone .content {-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;border-top:3px #000 solid;color:#fff;display:none;position:absolute;width:250px;top:70px;left:-100px;padding: 5px;font-size:13px;line-height:24px;background:#fff;box-shadow: 0px 2px 8px rgba(0,0,0,0.5)}
#header #contactPhone .content:before {content: "";border-width:6px;border-style:solid;border-color:transparent;border-bottom:5px #000 solid;position:absolute;top:-14px;left:30px;width:0px;height:0px}
#header #contactPhone .content a{font-size:13px;}
#header #contactPhone.active .content {display: block;}
#header #contactPhone ul  {list-style:none;padding:0;margin:0;}
#header #contactPhone ul li span.contactInfo {position:relative;text-decoration: none;color: #232323;padding: 5px 10px 5px 40px;display:block;}
#header #contactPhone ul li span.contactInfo i {width:24px;height:24px;position:absolute;top:50%;left: 5px;margin-top:-12px;background:url(../image/sprite.png) no-repeat;  }
#header #contactPhone ul li span.contactInfo i.icoPhone {background-position:0px 0}
#header #contactPhone ul li span.contactInfo i.icoMobile {background-position:0px -144px}
#header #contactPhone ul li span.contactInfo i.icoEmail {background-position:0 -48px}
#header #contactPhone ul li span.contactInfo i.icoSkype {background-position:0 -24px}
#header #contactPhone ul li span.contactInfo i.icoAdress {background-position:0 -72px}
#header #contactPhone ul li span.contactInfo i.icoTime {background-position:0 -96px}
#header #contactPhone ul li span.contactInfo i.icoFax {background-position:0 -120px}


/* menu */
div#menu-back {height:42px;width:100%;z-index:7;position:relative ;behavior: url('catalog/view/javascript/PIE.htc');}
div#menu-back.relative {position:relative;}
div#menu-back.fixed {min-width:1008px;position:fixed;height:42px;z-index:99999999;left:0;top: 0;width:100%;}

#menu {height: 42px;position:relative}
#menu ul {list-style: none;margin: 0 0 0 0px;padding: 0;}
#menu ul.fm  li.fmLi {float: left;z-index: 20;margin: 0px 0px 0px 0px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out; }
#menu ul.fm  li.fmLi:hover {}
#menu ul.fm  li.fmLi a.fmLihr {background-image:url(../image/mainMenu.png);font:bold 12px/41px Tahoma, Arial, Helvetica, sans-serif !important;text-transform:uppercase;color:#ffffff;text-decoration:none;height:42px;display: block;padding: 0px 15px 0px 15px;z-index: 6;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
#menu ul.fm  li.fmLi a.active {background-image: url(../image/mainMenu.png);color:#fff;padding: 0px 15px 0px 15px;}
#menu ul.fm  li.fmLi a.icoHomeBig{font-size:20px !important;padding:0px 12px;height:42px;line-height:42px}
#menu ul.fm  li.fmLi a.icoHomeBig i{line-height:42px}
#menu ul.fm  li.fmLi:hover a.fmLihr {color: #fff;}
#menu ul.fm  li.fmLi  div {display:none;position:absolute;top:42px;left:0px;z-index:999999;border-bottom:2px solid #EAEAEA;width:980px;}
#menu ul.fm  li.fmLi div ul {overflow:hidden}
#menu ul.fm  li.fmLi div ul li.fmLiLi{float:left;width:235px;margin:5px}
#menu ul.fm  li.fmLi div ul li.fmLiLi>a {text-decoration:none;padding:0px;color:#fff;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:12px;text-transform:uppercase;font-weight:bold;display: block;overflow:hidden}
#menu ul.fm  li.fmLi div ul li.fmLiLi a img{float:left;width:52px;height:52px}
#menu ul.fm  li.fmLi div ul li.fmLiLi a span{margin: 17px 0 0 60px;display: block;}
#menu ul.fm  li.fmLi div ul li.fmLiLi a:hover {background:#A391BF;color:#fff;}
#menu ul.fm  li.fmLi div ul li.fmLiLi ul li a {text-decoration:none;padding:7px 10px 7px 2px;color:#fff;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:12px;display: block;}
#menu ul.fm  li.fmLi div ul li.fmLiLi ul li a:hover {background:#A391BF;color:#fff;}


#menu #search {position: absolute;top: 50px;right: 28px;z-index: 15;}
#menu .button-search {position: absolute;right: -28px;background:#8169A8;width: 21px;height: 21px;cursor: pointer;color:#fff;font-size: 11px;text-align: center;line-height: 21px;}
#menu .button-search i{line-height: 21px;}
#menu #search input {background: #FFF;padding: 1px 3px;float:right;width: 120px;height: 18px;border: 1px solid #CCCCCC;-webkit-border-radius: 0px;-moz-border-radius: 0px;-khtml-border-radius: 0px;border-radius: 0px;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;behavior: url('catalog/view/javascript/PIE.htc');}
#menu #search input:focus {width: 200px;}

.brand-box  {overflow:hidden;padding:11px 0px 11px 0px;width:980px;margin:0 auto;}
.brand-box b {float:left;color:#8169A8;font-size:11px;}
.brand {list-style:none;float:left;padding:0;margin:0}
.brand  li{float:left;color:#232323;margin-left:7px}
.brand  li a{font-size:11px;padding:2px 5px}
.brand  li a:hover {background:#8169A8;color:#fff}

.breadcrumb { padding:11px 0px 11px 0px;margin:0px 0px 0px 0px;overflow:hidden;}
.breadcrumb a { color:#8169A8;float: left;font-family: Helvetica, Arial, sans-serif;font-size: 11px;font-weight: bold;text-decoration:none}
.breadcrumb a:hover {color:#232323;}
.breadcrumb #icoHome { background: url('../image/icoHome.png') no-repeat;width: 16px;height: 16px;float: left;margin: 0px 0 0 0;}
.breadcrumb #icoHome:hover {background-position:0 -16px;border-bottom:none}
.breadcrumb .chevron {background: url('../image/Chevron.png') no-repeat;width: 5px;height: 8px;float: left;margin: 4px 9px 0 9px;}


#notification {width:980px;margin:0 auto;}
.success, .warning, .attention, .information {padding: 10px 10px 10px 33px;color: #555555;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;-khtml-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;}
.success {position: fixed;top: 10px;right: 10px;width: 200px;z-index: 99999999;margin: 0 0 0 25%;background: #EAF7D9 url('../image/success.png') 10px center no-repeat;border: 1px solid #BBDF8D;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;-khtml-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;}
.warning {background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;border: 1px solid #F8ACAC;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;-khtml-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;}
.attention {background: #FFF5CC url('../image/attention.png') 10px center no-repeat;border: 1px solid #F2DD8C;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;-khtml-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;}
.success .close, .warning .close, .attention .close, .information .close {float: right;padding-top: 4px;padding-right: 4px;cursor: pointer;}
.required {color: #FF0000;font-weight: bold;}
.error {display: block;color: #FF0000;}
.help {color: #999;font-size: 10px;font-weight: normal;font-family: Verdana, Geneva, sans-serif;display: block;}

table.form {width: 100%;border-collapse: collapse;margin: 10px 0;}
table.form tr td:first-child {width: 150px;}
table.form > * > * > td {color: #000000;}
table.form td {padding: 4px;}
input.large-field, select.large-field {width: 300px;}
table.list {border-collapse: collapse;width: 100%;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;margin-bottom: 20px;}
table.list td {border-right: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;}
table.list thead td {background-color: #EFEFEF;padding: 0px 5px;}
table.list thead td a, .list thead td {text-decoration: none;color: #222222;font-weight: bold;}
table.list tbody td {vertical-align: top;padding: 0px 5px;}
table.list .left {text-align: left;padding: 7px;}
table.list .right {text-align: right;padding: 7px;}
table.list .center {text-align: center;padding: 7px;background: #fff;}
table.radio {width: 100%;border-collapse: collapse;}
table.radio td {padding: 5px;vertical-align: top;}
table.radio td label {display: block;}
table.radio tr td:first-child {width: 1px;}
table.radio tr td:first-child input {margin-top: 1px;}
table.radio tr.highlight:hover td {background: #F1FFDD;cursor: pointer;}

.pagination {padding-top: 8px;display: inline-block;width: 100%;margin-bottom: 10px;}
.pagination .links {float: left;}
.pagination .links a#icofirstpg,
.pagination .links a#icoprevpg,
.pagination .links a#iconextpg,
.pagination .links a#icolastpg {font-size:14px;line-height: 28px}
.pagination .links a {display: inline-block;text-decoration: none;color: #232323;height: 30px;padding: 0px 12px 0px 12px;line-height: 30px;background: #888 url(../image/mainMenu.png) 0 50%;}
.pagination .links a:hover {background-position: 0 -30px;}
.pagination .links b {display: inline-block;font-weight: normal;text-decoration: none;color: #232323;background: #888 url(../image/mainMenu.png) 0 50%;height: 30px;padding: 0px 12px 0px 12px;line-height: 30px;}
.pagination .results {float: right;padding-top: 3px;}

/* button */
.button-sub, a.button, input.button, a.button-sub, input.button-sub {cursor: pointer;color: #232323;line-height: 10px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;background:#000 url(../image/mainMenu.png) 0 50%; repeat-x;-webkit-border-radius: 20px;-moz-border-radius: 20px;-khtml-border-radius: 20px;border-radius: 20px;position: relative;behavior: url('catalog/view/javascript/PIE.htc');}
a.button, a.button-sub {display: inline-block;text-decoration: none;height: 24px;padding: 14px 30px 0 30px;}
input.button, input.button-sub {margin: 0;border: 0;height: 38px;padding: 0px 20px 0px 20px;}



.buttons {background: #FFFFFF;border: 1px solid #EEEEEE;overflow: auto;padding: 6px;margin-bottom: 20px;background: #FFFFFF url(../image/div-cat-back.png) bottom left repeat-x;}
.buttons p{margin:0}
.buttons .left {float: left;text-align: left;}
.buttons .right {float: right;text-align: right;}
.buttons .center {text-align: center;margin-left: auto;margin-right: auto;}

.htabs {height: 40px;line-height: 16px;overflow: hidden;}
.htabs a {border:none;border-top:3px #999 solid;background: #fff;padding: 5px 15px 10px 15px;float: left;font: italic 18px "Trebuchet MS", Tahoma, Helvetica, sans-serif;font-weight: bold;color: #232323;text-align: center;text-decoration: none;margin-right: 5px;display: none;}
.htabs a.selected { background: #efefef;border-top:3px #634891 solid}
.tab-content {padding: 10px;margin-bottom: 20px;z-index: 2;overflow: auto;background:#efefef;}
/* box */
.box {margin-bottom: 15px;}
.box .box-heading {font:normal 22px "pf_dindisplay_proregular", "Trebuchet MS", Helvetica, "Arial Narrow";text-shadow:1px 1px 0 #777;color: #fff;background:#FF892E url(../image/mainMenu.png) 0 50%;;padding:8px 8px;}
.box .box-content-sf {background: #FFFFFF;-webkit-border-radius: 7px;-moz-border-radius: 7px;-khtml-border-radius: 7px;border-radius: 7px;box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);-moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);padding: 10px;}

.box .box-content {background: #FFFFFF;}
.box .box-content ul {margin:0;padding:5px 0;list-style:none}
.box .box-content ul li {margin:0;padding:8px 8px;list-style:none}
.box .box-content ul li i{font-size:15px}
.box .box-content ul li a{text-decoration:none}



.box-module {padding: 0px 0 30px 0;margin-bottom: 10px;}
.box-module .box-heading-module {overflow:hidden;padding: 0 0px;height:52px;font:normal 24px "pf_dindisplay_pro_lightRg", "Trebuchet MS", Tahoma, Helvetica, sans-serif;color: #8169A8;}



.ico-sale { 
position:absolute;top:50px;left:2px;width:65px;height:38px;text-align:center;line-height:38px;color:#fff;text-decoration:none;font-weight:bold;font-size:16px;font-style:italic;z-index:1;
-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;
-webkit-border-radius:0px 20px 20px 0;-moz-border-radius:0px 20px 20px 0;-khtml-border-radius:0px 20px 20px 0;border-radius:0px 20px 20px 0;
background: #000 url(../image/mainMenu.png) 0 50% repeat-x;behavior: url('catalog/view/javascript/PIE.htc');
}
.ico-sale .shadowSale {position:absolute;top:-50px;left:0px;background:url(../image/ico-sale-shadow.png) no-repeat;width:11px;height:152px;}


/* box products */
.box-product {width: 100%;text-align:center;}
.box-product > div, .box-product > li  {font-size: 13px;position:relative;width: 225px;display: inline-block;vertical-align: top;margin:0px 16px 15px 0;background: #FFFFFF;padding: 2px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;border: 2px #eee solid;}
.box-product > div:hover, .box-product > li:hover {border: 2px #8169a8 solid;}
#column-left + #column-right + #content .box-product > div {width: 235px;}
.box-product .image {display: block;margin-bottom: 0px;width:225px;}
.box-product .image img {}
.box-product .name  {background:#A391BF;padding:4px 5px;height:16px;display:block;}
.box-product .name a {height:16px;overflow:hidden;font-size: 12px;text-shadow: 1px 1px 0px rgba(0,0,0,0.5);color: #fff;font-weight: bold;text-decoration: none;display: block;margin: 0;text-align:center}
.box-product .price {display: block;color: #fff;margin:0;height:16px;font-size: 12px;padding:4px 5px;text-align:center;background:#8169A8;}
.box-product .price-old {color: #ddd;text-decoration: line-through;}
.box-product .price-new {font-weight: bold;}
.box-product .rating {display: block;position:absolute;bottom:60px;left:70px}
.box-product .cart {position:absolute;top: 40px;left:2px;padding:10px 0px 10px 10px;width:215px;background: url('../image/cartBack.png') repeat;   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;  -webkit-transition: all 0.7s ease-in-out;-moz-transition: all 0.7s ease-in-out;-o-transition: all 0.7s ease-in-out;-ms-transition: all 0.7s ease-in-out;transition: all 0.7s ease-in-out;}
.box-product .cart .button {padding-left: 30px;padding-right: 30px;float: right;-webkit-border-radius: 20px 0 0 20px;-moz-border-radius: 20px 0 0 20px;-khtml-border-radius: 20px 0 0 20px;border-radius: 20px 0 0 20px;}
.box-product > li:hover .ico-sale {top: 214px;}
.box-product > li:hover .cart {top: 204px;-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;}




.box-product-lr-side {margin:0 -19px 0 0;overflow:hidden}
.box-product-lr-side > div, .box-product-lr-side > li  {float:left;font-size: 13px;position:relative;width: 108px;height:230px;margin:0 19px 0 0;}
.box-product-lr-side .image img{width:108px;border-bottom:3px #333 solid}
.box-product-lr-side .name  {position: relative;padding:3px 0px 6px 0;display:block;}
.box-product-lr-side .name a {font-size: 11px;color: #666;text-decoration: none;display: block;margin: 0;}
.box-product-lr-side .price {display: block;color: #232323;margin:0;font-size: 11px;font-weight: bold;}
.box-product-lr-side .price-old {color: #888;text-decoration: line-through;}
.box-product-lr-side .rating {display: block;}


/* box category */
.box-category {}
.box-category ul {list-style: none;margin: 0px;padding: 0px;}
.box-category > ul > li {margin:0px 0px 1px 0px;overflow:hidden;padding:0px}
.box-category > ul > li  span{float:right;background:url(../image/categoryArrows.png) 0 -13px;width:13px;height:13px;margin:7px 7px 0 0;cursor:pointer}
.box-category > ul > li  span.active {background-position:0 0;}
.box-category > ul > li  span.accordionTitle2{background:url(../image/categoryArrows.png) -4px -17px;width:5px;height:5px;margin:11px 11px 0 0;cursor:pointer}
.box-category > ul > li  span.accordionTitle2.active{background-position:-4px -4px;}
.box-category > ul > li > a {background:#A391BF;text-decoration: none;color: #fff;padding: 6px 25px 6px 8px;display: block;}
.box-category > ul > li a.active {}
.box-category > ul > li a.active + ul {display: block;}
.box-category > ul > li ul {float:left;width:100%;margin: 0px;padding: 0px; }
.box-category > ul > li ul > li {background:#fff;float:left;width:100%;border-bottom:1px #eee solid;   -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;    }
.box-category > ul > li ul > li  ul > li{border-bottom:0px #eee solid;  }
.box-category > ul > li ul > li:hover, .box-category > ul > li ul > li.child-active{background:#eee;}
.box-category > ul > li ul > li > a {text-decoration: none;display: block;color: #232323;padding: 6px 25px 6px 6px;}
.box-category > ul > li ul > li > a.subsub {padding: 6px 6px 6px 15px;font-style:italic}
.box-category > ul > li ul > li > a.active {font-weight: bold;}

/* content */
#content .content {padding: 10px;overflow: auto;margin-bottom: 20px;border: 1px solid #EEEEEE;background: #FFFFFF url(../image/div-cat-back.png) bottom left repeat-x;}

#content .content .left {float: left;width: 49%;}
#content .content .right {float: right;width: 49%;}
/* category */
.category-info {overflow: auto;margin-bottom: 20px;padding: 15px;color:#232323;background: #fff;}
.category-info p {margin:0;}
.category-list  .textRefine {float:left;line-height:30px;margin-right:10px;font-size:15px;font-style:italic}
.category-list {overflow: auto;margin-bottom: 20px;padding:0}
.category-list ul {float: left;list-style:none;padding:0;margin:0}
.category-list ul li {margin:0 5px 5px 0;float:left;text-align:center;position:relative}
.category-list ul li span{height:6px;width:6px;background:#fff;position:absolute;top:11px;left:11px;-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.category-list ul li a{position:relative;color:#232323;text-decoration:none;font-weight:bold;overflow:hidden;background:#f0f0f0;padding:7px 9px 7px 26px;display:block;-webkit-border-radius:20px 5px 5px 20px;-moz-border-radius: 20px 5px 5px 20px;-khtml-border-radius: 20px 5px 5px 20px;border-radius: 20px 5px 5px 20px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.category-list ul li a:hover{color:#fff;background:#A391BF;}

/* manufacturer */
.manufacturer-list {overflow: auto;margin-bottom: 20px;background:#fff}
.manufacturer-heading {background: #eee;font-size: 15px;font-weight: bold;padding: 5px 8px;margin-bottom: 6px;}
.manufacturer-content {padding: 8px;}
.manufacturer-list ul {float: left;width: 20%;margin: 0;padding: 0;list-style: none;margin-bottom: 10px;}

/* product */
.product-filter {padding:3px 5px 3px 8px;margin-bottom:20px;overflow: auto;background: #efefef url(../image/mainMenu.png) 0 50% repeat-x;}
.product-filter .display b{float:left;line-height:29px}
.product-filter .display a{text-decoration:none}
.product-filter .display .icon-th-list, .product-filter .display .icon-th {width:23px;height:23px;float:left;margin:4px 0 0 5px;line-height:24px;text-align:center;font-size: 14px;}

.product-filter .display i.ico-grid, 
.product-filter .display a.ico-grid {background-position: -23px 0 }
.product-filter .display a.ico-list, .product-filter .display a.ico-grid{background-color:#634891;}
.product-filter .display a.ico-list:hover, .product-filter .display a.ico-grid:hover {background-color:#aaa ;}
.display i.ico-list, .display i.ico-grid{background-color:#aaa ;}
.product-filter .sort {float: right;color: #333;}
.product-filter .limit {margin-left: 15px;float: right;color: #333;}
.product-filter .product-compare {float:left;margin-left: 15px;font-weight: bold;line-height:29px}
.product-filter .product-compare a {text-decoration: none;font-weight: bold;}



.product-list > div {font-size: 13px;margin:10px 0 10px 0;padding:10px 10px;overflow:hidden;border: 2px #eee solid;background: #FFFFFF;
-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;position:relative;behavior: url('/catalog/view/javascript/PIE.htc');}
.product-list > div:hover {border: 2px #8169A8 solid;} 
.product-list .left {float: left;width:170px;}
.product-list .left .ico-sale {top:0;left:0}
.product-list .centerBlock {padding:0px 140px 0 170px}
.product-list .right {float: right;width:130px;}
.product-list .image {float: left;}
.product-list .image img {width:160px}
.product-list .name {margin-bottom: 7px;}
.product-list .name a {color: #232323;font-weight: bold;font-size: 18px;font-style:italic;text-decoration: none;}
.product-list .description {line-height: 15px;margin-bottom: 5px;color: #4D4D4D;}
.product-list .description .hover-info {display: block;margin-top: 15px;}
.product-list .description .hover-info .attribute {border:none;border-bottom:1px #eee solid;}
.product-list .description .hover-info .attribute td {text-align:left;border:none;border-top:1px #eee solid;font-size: 13px;padding:5px 0px}
.product-list .description .hover-info .attribute .attrName{width:110px}
.product-list .rating {color: #7B7B7B;}
.product-list .price {float: right;margin-bottom: 15px;text-align: right;color: #333333;font-size: 20px;}
.product-list .price-old {color: #F00;text-decoration: line-through;}
.product-list .price-new {font-weight: bold;}
.product-list .price-tax {font-size: 13px;font-weight: normal;color: #BBBBBB;}
.product-list .cart {margin-bottom: 3px;float:right}
.product-list .cart input {padding:0 26px;width:107px;}
.product-list .wishlist, .product-list .compare {display:none;position:relative;margin:8px 0 0 11px;height:40px;float:right;width:40px;-webkit-border-radius:20px;-moz-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;}
.product-list > div:hover .wishlist, .product-list > div:hover .compare {display:block;}

.product-list .wishlist a {color: #333333;text-decoration: none;float:left;height:40px;width:40px;background: url('../image/ico-wishlist.png') center center no-repeat;}
.product-list .compare a {color: #333333;text-decoration: none;float:left;height:40px;width:40px;background: url('../image/ico-compare.png') center center no-repeat;}


.product-grid {margin:0px -7px 0 -9px;zoom: 1}
.product-grid > div {font-family:Arial, Helvetica, sans-serif;font-size: 13px;width: 225px;float:left;vertical-align: top;margin:0px 7px 16px 9px;padding: 2px;border: 2px #eee solid;background: #fff;
-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;position:relative;behavior: url('/catalog/view/javascript/PIE.htc');}
 .product-grid > div:hover {border: 2px #8169A8 solid;z-index:99999} 
 .product-grid > div:hover .ico-sale{top:214px;} 
#column-left + #column-right + #content .product-grid > div {width: 125px;}
.product-grid .image {display: block;margin-bottom: 0px;width:225px;}
.product-grid .image img {}
.product-grid .name  {background:#A391BF;padding:4px 5px;}
.product-grid .name a {height:16px;overflow:hidden;font-size: 12px;text-shadow: 1px 1px 0px rgba(0,0,0,0.5);}
.product-grid .name a {color: #fff;font-weight: bold;text-decoration: none;display: block;margin: 0;text-align:center}
.product-grid .description {display:none}
.product-grid .rating {display: block;position:absolute;bottom:60px;left:70px}
.product-grid .price {display: block;color: #fff;margin:0px 0 0px 0;height:16px;font-size: 12px;padding:4px 5px;text-align:center;background:#8169A8}
.product-grid .price-old {color: #ddd;text-decoration: line-through;}
.product-grid .price-new {font-weight: bold;}
.product-grid .price .price-tax {display: none;}

.product-grid .cart {background: url('../image/cartBack.png') repeat;position:absolute;top:40px;left:2px;padding:10px 0px 10px 10px;width:215px;text-align:right;-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;   -webkit-transition: all 0.7s ease-in-out;-moz-transition: all 0.7s ease-in-out;-o-transition: all 0.7s ease-in-out;-ms-transition: all 0.7s ease-in-out;transition: all 0.7s ease-in-out; }
.product-grid > div:hover .cart {top:204px;-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;}
.product-grid .cart input {padding-left: 34px;padding-right: 34px;width:107px;

cursor: pointer;line-height: 12px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;
-webkit-border-radius:20px 0 0 20px;-moz-border-radius:20px 0 0 20px;-khtml-border-radius: 20px 0 0 20px;border-radius:20px 0 0 20px;box-shadow:none;
position: relative;behavior: url('catalog/view/javascript/PIE.htc');
margin: 0;border: 0;height: 38px;

}



.product-grid .wishlist, .product-grid .compare {background: #000 url(../image/mainMenu.png) 0 50% repeat-x;position:absolute;top: 214px;right:100px;width:38px;height:38px;-webkit-border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;border-radius:50%;-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;   -webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out;-ms-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;} 
.product-grid .wishlist {left:-50px;} 
.product-grid .compare {left:0px;display:none;} 
.product-grid > div:hover  .wishlist {left:75px;-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;} 
.product-grid > div:hover  .compare {left:60px;-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;}

.product-grid .wishlist a {color: #333333;text-decoration: none;display:block;height:38px;width:38px;background: url('../image/ico-wishlist.png') center center no-repeat;}
.product-grid .compare a {color: #333333;text-decoration: none;display:none;height:40px;width:40px;background: url('../image/ico-compare.png') center center no-repeat;}


/* Product */
.product-info {overflow: auto;margin-bottom: 20px;background:#fff;padding:10px}
.product-info > .left {float: left;}
.product-info > .left + .right {margin-left: 480px;background:#fff;position:relative}
.product-info > .left + .right .shadowProductInfo{position:absolute;height: 484px;width:10px;background:url(../image/shadowProductInfo.png) top left no-repeat;z-index:1}

.product-info h1 {padding: 10px 10px 10px 10px;margin:0;font: normal 30px "pf_dindisplay_pro_lightRg", "Trebuchet MS", Tahoma, Helvetica, sans-serif;}
.product-info .image .cloud-zoom-lens {cursor:move;}
.product-info .image .cloud_zoom_about {background:#fff;color: #000;font-weight: bold;opacity: 0.80;padding:7px 0;position: absolute;bottom:0px;text-align: center;width:100%;display: block;}
.product-info .image:hover .cloud_zoom_about { display: none;}
.product-info .image {float: left;margin: 0px 15px 0 0px;text-align: center;position:relative; outline:none;}
.product-info .image-additional {width: 76px;height:497px;clear: both;overflow: hidden;float:left;margin-right:15px}
.product-info .image-additional .jcarousel-skin-additional {}
.product-info .image-additional .jcarousel-skin-additional .jcarousel-container-vertical {padding: 30px 0px;}
.product-info .image-additional .jcarousel-skin-additional .jcarousel-item-vertical {margin:5px 0;height:100px }
.product-info .image-additional img {border: 1px solid #E7E7E7;width:74px;height:98px}
.product-info .image-additional a {float: left;display: block;height:98px}
.product-info .description {padding:10px;line-height: 20px;color: #4D4D4D;margin:0 0 10px 0}
.product-info .description span {color: #232323;}
.product-info .description a {text-decoration: none;font-weight:bold}
.product-info .price {background:#8169a8;width:50%;padding:10px;margin-bottom: 10px;font-size: 22px;font-weight: bold;color: #fff;-webkit-border-radius:0 100px 100px 0px;-moz-border-radius:0 100px 100px 0px;-khtml-border-radius:0 100px 100px 0px;border-radius:0 100px 100px 0px;position:relative;behavior: url('catalog/view/javascript/PIE.htc');}
.product-info .price-old {color: #ccc;text-decoration: line-through;font-size: 14px;}
.product-info .price-new {font-size: 22px;margin-right:10px}
.product-info .price-tax {font-size: 12px;font-weight: normal;color: #fff;}
.product-info .price .reward {font-size: 12px;font-weight: normal;color: #fff;}
.product-info .price .discount {font-weight: normal;font-size: 12px;color: #fff;}
.product-info .options {width:90%;background:#efefef;padding:10px;margin-bottom: 10px;color: #000000;-webkit-border-radius:0 100px 100px 0px;-moz-border-radius:0 100px 100px 0px;-khtml-border-radius:0 100px 100px 0px;border-radius:0 100px 100px 0px;position:relative;behavior: url('catalog/view/javascript/PIE.htc');}
.product-info .options .option {overflow:hidden}
.product-info .options b {margin-top:3px;width:100px;display:block;float:left}
.product-info .option-image {margin-top: 3px;margin-bottom: 10px;}
.product-info .option-image label {display: block;width: 100%;height: 100%;}
.product-info .option-image img {margin-right: 5px;border: 1px solid #CCCCCC;cursor: pointer;}
.product-info .cart {width:85%;background:#efefef;padding: 10px 10px 10px 10px;color: #4D4D4D;overflow:hidden;-webkit-border-radius:0 100px 100px 0px;-moz-border-radius:0 100px 100px 0px;-khtml-border-radius:0 100px 100px 0px;border-radius:0 100px 100px 0px;position:relative;behavior: url('catalog/view/javascript/PIE.htc');}
.product-info .cart .boxCount {overflow:hidden;margin:7px 7px 0 0 ;float:left}
.product-info .cart .boxCount b{float:left;margin:4px 0px 0 0;width:85px;}
.product-info .cart .boxCount input {float:left;margin:0px;width:15px;}
.product-info .cart .boxCount input.button {float:left;width:79px;height:38px}
.product-info .cart .boxCount span.icoMinus{width:25px;height:25px;float:left;background:#A391BF url(../image/minus.png) 8px 8px no-repeat;cursor:pointer;-webkit-border-radius:50px 0 0 50px;-moz-border-radius:50px 0 0 50px;-khtml-border-radius:50px 0 0 50px;border-radius:50px 0 0 50px;position:relative;behavior: url('catalog/view/javascript/PIE.htc');}
.product-info .cart .boxCount span.icoPlus{width:25px;height:25px;float:left;background:#A391BF url(../image/plus.png) 8px 8px no-repeat;cursor:pointer;-webkit-border-radius:0 50px 50px 0;-moz-border-radius:0 50px 50px 0;-khtml-border-radius:0 50px 50px 0;border-radius:0 50px 50px 0;position:relative;behavior: url('catalog/view/javascript/PIE.htc');}
.product-info .cart .boxCount span.icoMinus:hover, .product-info .cart .boxCount span.icoPlus:hover {background-color:#8169A8}
.product-info .cart .minimum {padding-top: 5px;font-size: 11px;color: #999;clear: both;width:140px}
.product-info .cart  a.button-wishlist {}


.product-info .review {color: #4D4D4D;background:#fff;  margin:10px;text-align:right}
.product-info .review > div {padding:0 0 8px 0;line-height: 20px;text-align:right}
.product-info .review > div img{vertical-align:middle}
.product-info .review > div > span {color: #38B0E3;}
.product-info .review .share {overflow: auto;line-height: normal;}
.product-info .review .share a {text-decoration: none;} 


.review-list {padding: 10px;overflow: auto;margin-bottom: 20px;border: 1px solid #EEEEEE;}
.review-list .author {float: left;margin-bottom: 20px;}
.review-list .rating {float: right;margin-bottom: 20px;}
.review-list .text {clear: both;}


.attribute {border-collapse: collapse;width: 100%;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;margin-bottom: 20px;}
.attribute thead td, .attribute thead tr td:first-child {color: #000000;font-size: 14px;font-weight: bold;background: #F7F7F7;text-align: left;}
.attribute tr td:first-child {color: #000000;font-weight: bold;text-align: right;width: 20%;}
.attribute td {padding: 7px;color: #4D4D4D;text-align: center;vertical-align: top;border-right: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;}
.compare-info {border-collapse: collapse;width: 100%;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;margin-bottom: 20px;}
.compare-info thead td, .compare-info thead tr td:first-child {color: #000000;font-size: 14px;font-weight: bold;background: #F7F7F7;text-align: left;}
.compare-info tr td:first-child {color: #000000;font-weight: bold;text-align: right;}
.compare-info td {padding: 7px;width: 20%;color: #4D4D4D;text-align: center;vertical-align: top;border-right: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;}
.compare-info .name a {font-weight: bold;}
.compare-info .price-old {font-weight: bold;color: #F00;text-decoration: line-through;}
.compare-info .price-new {font-weight: bold;}


/* wishlist */
.wishlist-info table {width: 100%;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;margin-bottom: 20px;}
.wishlist-info td {padding: 7px;}
.wishlist-info thead td {color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;}
.wishlist-info thead .image {text-align: center;}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {text-align: left;}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {text-align: right;}
.wishlist-info tbody td {vertical-align: top;border-bottom: 1px solid #DDDDDD;background:#fff}
.wishlist-info tbody .image img {border: 1px solid #DDDDDD;}
.wishlist-info tbody .image {text-align: center;}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {text-align: left;}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {text-align: right;}
.wishlist-info tbody .price s {color: #F00;}
.wishlist-info tbody .action img {cursor: pointer;}



.login-content {margin-bottom: 20px;overflow: auto;}
.login-content .left {float: left;width: 48%;}
.login-content .right {float: right;width: 48%}
.login-content .left .content, .login-content .right .content {min-height: 190px;}


/* orders */
.order-list {margin-bottom: 10px;}
.order-list .order-id {width: 49%;float: left;margin-bottom: 2px;}
.order-list .order-status {width: 49%;float: right;text-align: right;margin-bottom: 2px;}
.order-list .order-content {padding: 10px 0px;display: inline-block;width: 100%;margin-bottom: 20px;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE;}
.order-list .order-content div {float: left;width: 33.3%;}
.order-list .order-info {text-align: right;}
.order-detail {background: #EFEFEF;font-weight: bold;}


/* returns */
.return-list {margin-bottom: 10px;}
.return-list .return-id {width: 49%;float: left;margin-bottom: 2px;}
.return-list .return-status {width: 49%;float: right;text-align: right;margin-bottom: 2px;}
.return-list .return-content {padding: 10px 0px;display: inline-block;width: 100%;margin-bottom: 20px;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE;}
.return-list .return-content div {float: left;width: 33.3%;}
.return-list .return-info {text-align: right;}
.return-product {overflow: auto;margin-bottom: 20px;}
.return-name {float: left;width: 31%;margin-right: 15px;}
.return-model {float: left;width: 31%;margin-right: 15px;}
.return-quantity {float: left;width: 31%;}
.return-detail {overflow: auto;margin-bottom: 20px;}
.return-reason {float: left;width: 31%;margin-right: 15px;}
.return-opened {float: left;width: 31%;margin-right: 15px;}
.return-opened textarea {width: 98%;vertical-align: top;}
.return-captcha {float: left;}
.download-list {margin-bottom: 10px;}
.download-list .download-id {width: 49%;float: left;margin-bottom: 2px;}
.download-list .download-status {width: 49%;float: right;text-align: right;margin-bottom: 2px;}
.download-list .download-content {padding: 10px 0px;display: inline-block;width: 100%;margin-bottom: 20px;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE;}
.download-list .download-content div {float: left;width: 33.3%;}
.download-list .download-info {text-align: right;}
/* cart */
.cart-info table {width: 100%;margin-bottom: 15px;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;background:#fff}
.cart-info td {padding: 7px;}
.cart-info thead td {color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;}
.cart-info thead .image {text-align: center;}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {text-align: left;}
.cart-info thead .price, .cart-info thead .total {text-align: right;}
.cart-info tbody td {vertical-align: top;border-bottom: 1px solid #DDDDDD;}
.cart-info tbody .image img {border: 1px solid #DDDDDD;}
.cart-info tbody .image {text-align: center;}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {text-align: left;}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {position: relative;top: 4px;cursor: pointer;}
.cart-info tbody .price, .cart-info tbody .total {text-align: right;}
.cart-info tbody span.stock {color: #F00;font-weight: bold;}
.cart-module > div {display: none;}
.cart-total {border-top: 1px solid #DDDDDD;overflow: auto;padding: 8px;margin-bottom: 15px;background:#fff}
.cart-total table {float: right;}
.cart-total td {padding: 3px;text-align: right;}
/* checkout */
.checkout > div {margin-bottom:15px}
.checkout-heading {font: bold 12px/41px Tahoma, Arial, Helvetica, sans-serif !important;text-transform: uppercase;text-shadow: 1px 1px 0 #fff;color: #232323;background: #ddd url(../image/mainMenu.png) 0 50%;padding: 0px 8px;}
.checkout-heading a {float: right;margin-top: 1px;font-weight: normal;text-decoration: none;}
.checkout-content {padding: 15px 15px 10px 15px;margin-bottom:15px;display: none;overflow: auto;background: #FFFFFF;}
.checkout-content .left {float: left;width: 48%;}
.checkout-content .right {float: right;width: 48%;}
.checkout-content .buttons {clear: both;}
.checkout-product table {width: 100%;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;margin-bottom: 20px;}
.checkout-product td {padding: 7px;}
.checkout-product thead td {color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;}
.checkout-product thead .name, .checkout-product thead .model {text-align: left;}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {text-align: right;}
.checkout-product tbody td {vertical-align: top;border-bottom: 1px solid #DDDDDD;}
.checkout-product tbody .name, .checkout-product tbody .model {text-align: left;}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {text-align: right;}
.checkout-product tfoot td {text-align: right;border-bottom: 1px solid #DDDDDD;}
.contact-info {overflow: auto;}
.contact-info .left {float: left;width: 48%;}
.contact-info .right {float: left;width: 48%;}
.contact-info .left ul {padding:0;margin:0;list-style:none}
.contact-info .left span.contactInfo {position:relative;text-decoration: none;color: #232323;border-top:1px #ddd dotted;padding:10px 10px;display:block;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;}
.contact-info .left span.contactInfo i {width:24px;height:24px;background:url(../image/sprite.png) no-repeat;position:absolute;top:5px; }
.contact-info .left span.contactInfo i.icoPhone {background-position:0px 0}
.contact-info .left span.contactInfo i.icoMobile {background-position:0px -144px}
.contact-info .left span.contactInfo i.icoEmail {background-position:0 -48px}
.contact-info .left span.contactInfo i.icoSkype {background-position:0 -24px}
.contact-info .left span.contactInfo i.icoAdress {background-position:0 -72px}
.contact-info .left span.contactInfo i.icoTime {background-position:0 -96px}
.contact-info .left span.contactInfo i.icoFax {background-position:0 -120px}
.contact-info .left span.contactInfo b {padding-left:35px}
.sitemap-info {overflow: auto;margin-bottom: 40px;background:#fff}
.sitemap-info ul ul{padding-left:20px}
.sitemap-info ul li{padding:3px 0}
.sitemap-info .left {float: left;width: 48%;}
.sitemap-info .right {float: left;width: 48%;}




.round-content {padding: 15px 15px 10px 15px;margin-bottom:15px;background: #FFFFFF;-webkit-border-radius: 5px;-moz-border-radius: 5px;-khtml-border-radius: 5px;border-radius:5px;}
/* footer */
#footer {clear: both;position:relative;overflow: auto;min-height: 100px;padding: 0px 0px 0px 0px;background:#8169A8 url('../image/fotterBack.png') 0 -10px repeat-x;font-size: 13px !important;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;}
#footer h3 {color: #fff;font: bold 12px/42px Tahoma, Arial, Helvetica, sans-serif !important;text-transform:uppercase;margin: 0px;padding-left:5px;height:42px}
#footer .column {float: left;width:237px;min-height: 100px;margin: 0px 0px 10px 5px;}
#footer .column ul {padding:5px 0 0 0;margin:0  }
#footer .column ul#map-block {margin: 34px 0px 30px 0px;}
#footer .column ul#map-block .map {width: 100%; height: 216px}
#footer .column ul li {list-style:none}
#footer .column a {font-size: 13px !important;text-decoration: none;color: #ddd;border-bottom:0px #fff dotted;padding:5px 5px;display:block;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;}
#footer .column a:hover {color: fff;}


#footer .column span.contactInfo {position:relative;text-decoration: none;color: #ddd;border-bottom:0px #fff dotted;padding:5px 10px 5px 40px;display:block;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;}
#footer .column span.contactInfo i {width:24px;height:24px;background:url(../image/sprite-header.png) no-repeat;position:absolute;top:50%;left:5px;margin-top:-12px }
#footer .column span.contactInfo i.icoPhone {background-position:0px 0}
#footer .column span.contactInfo i.icoMobile {background-position:0px -144px}
#footer .column span.contactInfo i.icoEmail {background-position:0 -48px}
#footer .column span.contactInfo i.icoSkype {background-position:0 -24px}
#footer .column span.contactInfo i.icoAdress {background-position:0 -72px}
#footer .column span.contactInfo i.icoTime {background-position:0 -96px}
#footer .column span.contactInfo i.icoFax {background-position:0 -120px}

#socSystem {margin:5px 0 0 0;}
.socSystem-block {overflow:hidden;}
.socSystem-block li {list-style:none;margin-bottom:9px;height:32px}
.socSystem-block li a{margin-left:35px;height:22px;line-height:22px}
.socSystem-block li i{background:url(../image/icoSoc.png) no-repeat;height:32px;width:32px;display:block;float:left;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;}
.socSystem-block li i.ico_odnoklassniki {background-position:-96px 0px}
.socSystem-block li:hover i.ico_odnoklassniki {background-position:-96px -32px}
.socSystem-block li i.ico_vk {background-position: -64px 0px}
.socSystem-block li:hover i.ico_vk {background-position: -64px -32px}
.socSystem-block li i.ico_twitter {background-position:0px 0px}
.socSystem-block li:hover i.ico_twitter {background-position:0px -32px}
.socSystem-block li i.ico_facebook {background-position:-32px 0px}
.socSystem-block li:hover i.ico_facebook {background-position:-32px -32px}
/* .socSystem-block li:hover i{background-position:-32px 0} */

#footer_bottom {float: left;width:980px;clear:both;border-top:1px #777 dotted}
#paySystem {float:left;}
.paySystem-block {padding:0;margin:10px 0 0 0;overflow:hidden;}
.paySystem-block li {width:51px;height:32px;float:left;list-style:none;margin: 0px 0 9px 9px;padding:0}
.paySystem-block li span{width:51px;height:32px;float:left;}


#block_counter {list-style:none;float:right;margin:10px 10px 0 0;padding:0}
#block_counter li {float:right;margin:0 0 0 9px}

#powered {font-size:10px;padding:4px 0;text-align: right;color: #333;overflow:hidden}
#powered a{font-size:10px;color: #333;}
/* banner */
.banner {margin:0px;display: inline-table;}
.banner div {text-align: center;width: 100%;display: none;}
.banner div img {margin-bottom: 20px;}


.jcarousel-skin-tango {position:relative;}
.jcarousel-skin-tango .jcarousel-direction-rtl {direction: rtl;}

.jcarousel-skin-tango .jcarousel-clip {overflow: hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal {}
/** * Vertical Buttons */
.jcarousel-skin-tango .jcarousel-next-horizontal {display:block;position: absolute;top: -52px;right:0px;width: 32px;height: 32px;cursor: pointer;background:#000 url(../image/arrowsBig.png) -40px 4px no-repeat;}
.jcarousel-skin-tango .jcarousel-prev-horizontal {display:block;position: absolute;top: -52px;right:35px;width: 32px;height: 32px;cursor: pointer;background:#000 url(../image/arrowsBig.png) 8px 4px no-repeat;}


.jcarousel-skin-tango .jcarousel-next-disabled-horizontal {display:none;} 
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal {display:none;}



#signup {text-align:left;width:400px;height: 210px;padding:20px 20px 20px 20px;display:none;background: #fff;border-top:3px #8169A8 solid;box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.20);-webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.20);-moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.20);}
#lean_overlay {position: fixed;z-index: 9997;top: 0px;left: 0px;height:100%;width:100%;background: #000;display: none;}
.box-head {position:relative;margin: 0 0 10px 0 ;height:50px;text-align:center}
.box-head  {font: italic 24px/40px "Trebuchet MS", Tahoma, Helvetica, sans-serif;color: #232323;font-weight: bold;}
#signup .trBlock{clear:both;overflow:hidden}
.box-head a {font: italic 24px/40px "Trebuchet MS", Tahoma, Helvetica, sans-serif;color: #8169A8;font-weight: bold;}
#signup span.nameInput{color: #232323;width:130px;float:left;margin:10px 0px 5px 30px;line-height:29px;font-weight:bold}
#signup input.logintxt {color: #232323;width:190px;float:left;margin:10px 0px 5px 0px;padding:7px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-khtml-border-radius: 3px;border-radius:3px;}
#signup a {border:none;}
#signup a.button-enter{font: italic 24px/40px "Trebuchet MS", Tahoma, Helvetica, sans-serif;font-weight: bold;}
.modal_close{width:23px;height:23px;cursor:pointer;background:#8169A8 url(../image/closeses.png) 6px 6px no-repeat;position:absolute;top:0;right:5px;display:block}



#carousel0 {padding:40px 0px 0px 0px;}
#carousel1 {overflow:hidden;padding:0px;}




#inTopPage {    display:none;text-decoration:none;overflow:hidden;border:none;text-indent:-999px;width: 50px;height: 50px;
background: url('../image/arrowsBigVertical.png') 50% 17px no-repeat;background-color: #222222;position: fixed;bottom:10px;right:22px;cursor: pointer;
opacity: 0.5;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;
}
#inTopPage:hover {background-color: #f00;opacity: 1;}
#inTopPage:active, #inTopPage:focus {outline:none;}

#sliderBox {overflow:hidden;margin-top:20px}
#sliderProduct-pic {float:left;background:url(../image/sliderBackPic.png) no-repeat;height:276px;width:423px;position:relative}
.slides_container {position: absolute;top: 13px;left: 80px;width:250px;height:250px}

.s_button_prev  {
position: absolute;
margin-top: -28px;
top: 50%;
left: 25px;
width: 25px;
height: 57px;
cursor: pointer;
background-image: url('../image/button-brands.png');
}
.s_button_next {
position: absolute;
margin-top: -28px;
top: 50%;
right: 40px;
width: 25px;
height: 57px;
cursor: pointer;
background-image: url('../image/button-brands.png');
background-position: 100% 0;
}
#sliderProduct-info{float:right;width:560px;padding-right:20px}
#sliderBigDes{width:1020px;margin:0 auto}
.sliderBigdesTitle {padding:20px 0}
.sliderBigdesTitle a{font-size:32px}
.ratingBox {padding:0 0 15px 0;display:block}
.s_desc {color:#ddd;font-size: 14px;line-height:18px;font-family:'Cuprum', Arial, Helvetica, sans-serif;    }
.priceBox {color:#ddd;font-size: 30px;font-family:'Cuprum', Arial, Helvetica, sans-serif;   }
.priceBox .priceOld{color:#f00;text-decoration: line-through;font-size: 25px;   }
